<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="GAZT Test Suite">
	<test name="GAZT Functional API Test Suite">
		<classes>
			<class name="com.api.Webservices.Test.TC01getSingleUserTest" />
			<class name="com.api.Webservices.Test.TC02getListOfResources" />
			<class name="com.api.Webservices.Test.TC03getSingleResource" />
			<class name="com.api.Webservices.Test.TC04getSingleResourceNotFound" />
			<class name="com.api.Webservices.Test.TC05postCreateNewUser" />
			
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
